/* SEPARATORS WITH MOVING IMAGE */
.sep {
	background-attachment: fixed;
	background-position: 50% 0;
	background-repeat: no-repeat;
	height: 450px;
	position: relative;
   width: 100%;
}
.s01 {
	background-image: url(/img/slide-2.jpg);
   background-size: cover;
}
#languages {
	position: absolute;
	top: 23px;
	right: 79px;
	z-index: 11;
   display: block;
	-webkit-transition: all .6s ease;
	   -moz-transition: all .6s ease;
		-ms-transition: all .6s ease;
		 -o-transition: all .6s ease;
			transition: all .6s ease;
}
#languages.languages-open {
	right: 279px;
}
.loginButtonDiv {
	position: fixed;
	top: 19px;
	right: 200px;
	z-index: 9;
   list-style-type: none;
   border-radius: 50px;
	margin-right: 15px;
	font-size: 11px;
	letter-spacing: 1px;
	text-transform: uppercase;
	padding: 14px 28px 13px 28px;
   background: #03C9A9;
	-webkit-transition: all .6s ease;
	   -moz-transition: all .6s ease;
		-ms-transition: all .6s ease;
		 -o-transition: all .6s ease;
			transition: all .6s ease;
}
.loginButtonDiv.loginButtonDiv-open {
	right: 400px;
}
.loginButtonDiv a {
  color:#FFFFFF;
}
.loginButtonDiv a:hover,
a:focus {
  color:#B3EFE5;
}
.loginButtonDiv #signup-link, #forgot-password-link {
	color:#03C9A9;
   text-transform: none;
}
.loginButtonDiv #signup-link, #forgot-password-link, a:hover, a:focus {
	color:#02A187;
}
.dropdown-menu {
 margin-top:50px;  
}
}

