<template name="landingBody">
	<div id="languages">{{> i18n_dropdown}}</div>

	<!-- Menu -->
	<nav class="menu" id="theMenu">
		<div class="menu-wrap">
			<h1 class="logo menuitem"><a href="#">{{_ "menu_title"}}</a></h1>
			<i class="ion-android-close menu-close menuitem"></i>
			<a href="#home" class="smoothScroll menuitem">{{_ "menu_home"}}</a>
			<a href="#glance" class="smoothScroll menuitem">{{_ "menu_glance"}}</a>
			<a href="#screenshots" class="smoothScroll menuitem">{{_ "menu_screenshots"}}</a>
			<a href="#features" class="smoothScroll menuitem">{{_ "menu_features"}}</a>
			<a href="#use" class="smoothScroll menuitem">{{_ "menu_useCases"}}</a>
			<a href="#blog" class="smoothScroll menuitem">{{_ "menu_blog"}}</a>
			<a href="#businesses" class="smoothScroll menuitem">{{_ "menu_businesses"}}</a>
			<a href="#contact" class="smoothScroll menuitem">{{_ "menu_contact"}}</a>
		</div>
		<!-- Menu button -->


		<div id="menuToggle"><i id="toggleIcon" class="ion-chevron-left"></i>
		</div>

	</nav>

	<div class="loginButtonDiv" id="logBut">
		{{> loginButtons align="right"}}
	</div>

	<!-- ********** SLIDES ********** -->
	<section id="home">
		<section id="slides">
			<ul class="slides-container">
				<li>
					<img src="/img/skyline1.jpg" alt="">
				</li>
				<li>
					<img src="/img/slide-2.jpg" alt="">
				</li>
				<li>
					<img src="/img/slide-3.jpg" alt="">
				</li>
			</ul>

			<div id="bannertext">
				<h1>{{_ "site_name"}}</h1>
				<hr class="aligncenter">
				<h3>{{_ "motto"}}</h3>
				<p class="buttons_header">
					<a href="#glance" class="smoothScroll">
						<button class="btn btn-lg btn-white btn-design">{{_ "learn_more"}}</button>
					</a>
					<button class="btn btn-lg btn-clear btn-design">{{_ "download"}}</button>
				</p>
			</div>

			<!-- end:Banner text -->
			<nav class="slides-navigation">
				<a href="index.html#" class="next">
					<i class="ion-ios7-arrow-forward"></i>
				</a>
				<a href="index.html#" class="prev">
					<i class="ion-ios7-arrow-back"></i>
				</a>
			</nav>
		</section>
	</section>
	<!-- END SLIDES SECTION -->


	<!-- ********** AT A GLANCE ********** -->



	<section id="glance">

		<div class="container">
			<div class="row mtb2 centered">
				<div class="col-md-4 w">
					<div class="circle-icon">
						<div class="icon ion-location"></div>
					</div>
					<h5>Leave your marks</h5>
					<hr class="aligncenter">
					<p>Wherever you are located, leave text, audio, video messages and pictures and make them available to your friends or to the general public travelling to that location.</p>
				</div>
				<!--/col-md-4-->
				<div class="col-md-4 w">
					<div class="circle-icon">
						<div class="icon ion-android-contacts"></div>
					</div>
					<h5>Follow your friends</h5>
					<hr class="aligncenter">
					<p>Follow your friends' channels and see, watch and hear their marks in your surroundings. Maybe they left you a message across the street or at the far side of the Earth.</p>
				</div>
				<!--/col-md-4-->
				<div class="col-md-4 w">
					<div class="circle-icon">
						<div class="icon ion-navigate"></div>
					</div>
					<h5>Travel differently</h5>
					<hr class="aligncenter">
					<p>Subscribe to cultural, humoristic, historical, insolite, private, commercial [etc.] channels and add a new dimension to your travels, visits or simple walks.</p>
				</div>
				<!--/col-md-4-->
			</div>
			<!--/row -->
		</div>
		<!-- /.container -->
	</section>


	<!-- ********** PORTFOLIO SECTION ********** -->


	<section id="screenshots">


		<div class="cbp-panel">
			<div id="grid-container" class="cbp-l-grid-gallery">
				<div class="cbp-item">
					<a class="cbp-caption cbp-lightbox" data-title="{{_ " shot1_title " }}" href="img/screenshots/shot-b-1.png">
						<div class="cbp-caption-defaultWrap">
							<img src="img/screenshots/shot-s-1.png" alt="">
						</div>
						<div class="cbp-caption-activeWrap">
							<div class="cbp-l-caption-alignCenter">
								<div class="cbp-l-caption-body">
									<div class="cbp-l-caption-title">{{_ "shot1_caption" }}</div>
									<div class="cbp-l-caption-desc">{{_ "shot1_description" }}</div>
								</div>
							</div>
						</div>
					</a>
				</div>
				<div class="cbp-item">
					<a class="cbp-caption cbp-lightbox" data-title="{{_ " shot6_title " }}" href="img/screenshots/shot-b-6.png">
						<div class="cbp-caption-defaultWrap">
							<img src="img/screenshots/shot-s-6.png" alt="">
						</div>
						<div class="cbp-caption-activeWrap">
							<div class="cbp-l-caption-alignCenter">
								<div class="cbp-l-caption-body">
									<div class="cbp-l-caption-title">{{_ "shot6_caption" }}</div>
									<div class="cbp-l-caption-desc">{{_ "shot6_description" }}</div>
								</div>
							</div>
						</div>
					</a>
				</div>
				<div class="cbp-item">
					<a class="cbp-caption cbp-lightbox" data-title="{{_ " shot2_title " }}" href="img/screenshots/shot-b-2.png">
						<div class="cbp-caption-defaultWrap">
							<img src="img/screenshots/shot-s-2.png" alt="">
						</div>
						<div class="cbp-caption-activeWrap">
							<div class="cbp-l-caption-alignCenter">
								<div class="cbp-l-caption-body">
									<div class="cbp-l-caption-title">{{_ "shot2_caption" }}</div>
									<div class="cbp-l-caption-desc">{{_ "shot2_description" }}</div>
								</div>
							</div>
						</div>
					</a>
				</div>
				<div class="cbp-item">
					<a class="cbp-caption cbp-lightbox" data-title="{{_ " shot3_title " }}" href="img/screenshots/shot-b-3.png">
						<div class="cbp-caption-defaultWrap">
							<img src="img/screenshots/shot-s-3.png" alt="">
						</div>
						<div class="cbp-caption-activeWrap">
							<div class="cbp-l-caption-alignCenter">
								<div class="cbp-l-caption-body">
									<div class="cbp-l-caption-title">{{_ "shot3_caption" }}</div>
									<div class="cbp-l-caption-desc">{{_ "shot3_description" }}</div>
								</div>
							</div>
						</div>
					</a>
				</div>
				<div class="cbp-item">
					<a class="cbp-caption cbp-lightbox" data-title="{{_ " shot4_title " }}" href="img/screenshots/shot-b-4.png">
						<div class="cbp-caption-defaultWrap">
							<img src="img/screenshots/shot-s-4.png" alt="">
						</div>
						<div class="cbp-caption-activeWrap">
							<div class="cbp-l-caption-alignCenter">
								<div class="cbp-l-caption-body">
									<div class="cbp-l-caption-title">{{_ "shot4_caption" }}</div>
									<div class="cbp-l-caption-desc">{{_ "shot4_description" }}</div>
								</div>
							</div>
						</div>
					</a>
				</div>
				<div class="cbp-item">
					<a class="cbp-caption cbp-lightbox" data-title="{{_ " shot5_title " }}" href="img/screenshots/shot-b-5.png">
						<div class="cbp-caption-defaultWrap">
							<img src="img/screenshots/shot-s-5.png" alt="">
						</div>
						<div class="cbp-caption-activeWrap">
							<div class="cbp-l-caption-alignCenter">
								<div class="cbp-l-caption-body">
									<div class="cbp-l-caption-title">{{_ "shot5_caption" }}</div>
									<div class="cbp-l-caption-desc">{{_ "shot5_description" }}</div>
								</div>
							</div>
						</div>
					</a>
				</div>

			</div>
		</div>


	</section>









	<section id="features">
		<div id="feat">

			<div class="container">
				<!--<div class="row mtb centered">
			<div class="col-md-6 col-md-offset-3 w">
				<h5>{{_ "menu_features" }}</h5>
				<hr class="aligncenter">
			</div>
		</div>-->

				<div class="row mtb centered">
					<div class="col-md-3">
						<div class="ser w">
							<i class="icon ion-compose"></i>
							<h5>{{_ "tile1_title" }}</h5>
							<hr class="aligncenter">
							<p>{{_ "tile1_text" }}</p>
						</div>
					</div>
					<!--/col-md-3 -->
					<div class="col-md-3">
						<div class="ser w">
							<i class="icon ion-headphone"></i>
							<h5>{{_ "tile2_title" }}</h5>
							<hr class="aligncenter">
							<p>{{_ "tile2_text" }}</p>
						</div>
					</div>
					<!--/col-md-3 -->
					<div class="col-md-3">
						<div class="ser w">
							<i class="icon ion-eye"></i>
							<h5>{{_ "tile3_title" }}</h5>
							<hr class="aligncenter">
							<p>{{_ "tile3_text" }}</p>
						</div>
					</div>
					<!--/col-md-3 -->
					<div class="col-md-3">
						<div class="ser w">
							<i class="icon ion-lightbulb"></i>
							<h5>{{_ "tile4_title" }}</h5>
							<hr class="aligncenter">
							<p>{{_ "tile4_text" }}</p>
						</div>
					</div>
					<!--/col-md-3 -->
				</div>
				<!--/row -->
			</div>
			<!--/container -->
		</div>
	</section>

	<!-- ********** PARALLAX SEPARATOR SECTION ********** -->
	<div class="sep s01 clear" data-stellar-background-ratio="0.5">
		<div id="map-canvas"></div>
	</div>

	<!-- ********** TESTIMONIAL SECTION ********** -->
	<!--<div id="t" class="carousel slide" data-ride="carousel">
    	<div class="col-md-6 col-md-offset-3 centered">
    		<h5>Love From Our Users</h5>
    		<hr class="aligncenter">-->
	<!-- Carousel ================================================== -->
	<!-- Indicators -->
	<!--     <ol class="carousel-indicators">
		        <li data-target="#mint" data-slide-to="0" class="active"></li>
		        <li data-target="#mint" data-slide-to="1"></li>
		        <li data-target="#mint" data-slide-to="2"></li>
		      </ol>
		      <div class="carousel-inner">
		        <div class="item active">
		        	<div class="centered mtb">
				        <h4>There are many variations of passages of Lorem Ipsum available, but the majority have suffered alteration in some form, by injected humour, or randomised words which don't look even slightly believable.</h4>
				        <p>SHARON SMITH</p>
					</div>
				</div>-->
	<!-- /item -->

	<!--       <div class="item">
		        	<div class="centered mtb">
				        <h4>There are many variations of passages of Lorem Ipsum available, but the majority have suffered alteration in some form, by injected humour, or randomised words which don't look even slightly believable.</h4>
				        <p>SAM MANNING</p>
					</div>
				</div>-->
	<!-- /item -->

	<!--	        <div class="item">
		        	<div class="centered mtb">
				        <h4>There are many variations of passages of Lorem Ipsum available, but the majority have suffered alteration in some form, by injected humour, or randomised words which don't look even slightly believable.</h4>
				        <p>PAUL STEVENSON</p>
					</div>
				</div>-->
	<!-- /item -->
	<!-- 	
			</div>-->
	<!--/carousel-inner -->
	<!--</div>-->
	<!--/col-md-6 -->
	<!--</div>-->
	<!--/T -->

	<section id="use">
		<!-- ********** THEME FEATURES SECTION ********** -->
		<div id="g">
			<div class="container">
				<div class="row mtb">
					<div class="col-md-1 centered">
						<i class="icon ion-ios7-ionic-outline"></i>
					</div>
					<div class="col-md-3 w">
						<h5>{{_ "usetile1_title" }}</h5>
						<hr>
						<p>{{_ "usetile1_text" }}</p>
					</div>

					<div class="col-md-1 centered">
						<i class="icon ion-ios7-people-outline"></i>
					</div>
					<div class="col-md-3 w">
						<h5>{{_ "usetile2_title" }}</h5>
						<hr>
						<p>{{_ "usetile2_text" }}</p>
					</div>

					<div class="col-md-1 centered">
						<i class="icon ion-ios7-world-outline"></i>
					</div>
					<div class="col-md-3 w">
						<h5>{{_ "usetile3_title" }}</h5>
						<hr>
						<p>{{_ "usetile3_text" }}</p>
					</div>
				</div>
				<!--/row -->
				<div class="row mtb">
					<div class="col-md-1 centered">
						<i class="icon ion-ios7-information-outline"></i>
					</div>
					<div class="col-md-3 w">
						<h5>{{_ "usetile4_title" }}</h5>
						<hr>
						<p>{{_ "usetile4_text" }}</p>
					</div>

					<div class="col-md-1 centered">
						<i class="icon ion-ios7-search"></i>
					</div>
					<div class="col-md-3 w">
						<h5>{{_ "usetile5_title" }}</h5>
						<hr>
						<p>{{_ "usetile5_text" }}</p>
					</div>

					<div class="col-md-1 centered">
						<i class="icon ion-ios7-lightbulb-outline"></i>
					</div>
					<div class="col-md-3 w">
						<h5>{{_ "usetile6_title" }}</h5>
						<hr>
						<p>{{_ "usetile6_text" }}</p>
					</div>
				</div>
				<!--/row -->
			</div>
			<!--/container -->
			<div class="container">
				<div class="row">
					<div class="col-md-8 col-md-offset-2">
						<img class="img-responsive aligncenter" src="/img/phone.png" alt="">
					</div>
				</div>
				<!--/row -->
			</div>
			<!--/container -->
		</div>
		<!--G -->

	</section>


	<section id="blog">

		<!-- ********** BLOG SECTION ********** -->
		<div class="container">
			<div class="row mtb centered w">
				<h5>{{_ "from_blog"}}</h5>
				<hr class="aligncenter">
			</div>
			<!--/row -->
			<div class="row w">
				<div class="col-md-4">
					<img src="/img/blog01.jpg" class="img-responsive aligncenter" alt="">
					<div class="date">
						<h4><bold>13</bold></h4>
						<h4>Sep</h4>
					</div>
					<h5>The Food You Need</h5>
					<p class="desc">Posted by Frank Smith in <b>Tips</b>
					</p>
					<p>It is a long established fact that a reader will be distracted by the readable content of a page when looking at its layout.</p>
					<p><a href="#">{{_ "continue_reading"}}</a>
					</p>
				</div>
				<!--/col-md-4-->
				<div class="col-md-4">
					<img src="/img/blog02.jpg" class="img-responsive aligncenter" alt="">
					<div class="date">
						<h4><bold>28</bold></h4>
						<h4>Aug</h4>
					</div>
					<h5>Thinking About Life</h5>
					<p class="desc">Posted by Frank Smith in <b>Thougts</b>
					</p>
					<p>It is a long established fact that a reader will be distracted by the readable content of a page when looking at its layout.</p>
					<p><a href="#">{{_ "continue_reading"}}</a>
					</p>
				</div>
				<!--/col-md-4-->
				<div class="col-md-4">
					<img src="/img/blog03.jpg" class="img-responsive aligncenter" alt="">
					<div class="date">
						<h4><bold>13</bold></h4>
						<h4>Jul</h4>
					</div>
					<h5>Visiting The Mountains</h5>
					<p class="desc">Posted by Frank Smith in <b>Travel</b>
					</p>
					<p>It is a long established fact that a reader will be distracted by the readable content of a page when looking at its layout.</p>
					<p><a href="#">{{_ "continue_reading"}}</a>
					</p>
				</div>
				<!--/col-md-4-->
			</div>
			<!--/row -->
		</div>
		<!--/container -->
	</section>


	<!-- ********** FOOTER SECTION ********** -->
	<div id="f">
		<div class="container">
			<div class="row">
				<div class="col-md-6 col-md-offset-3 w centered">
					<h5 class="mb">{{_ "teasing_newsletter" }}</h5>


					<!-- Begin MailChimp Signup Form -->
					<form action="//jeanmil.us10.list-manage.com/subscribe/post?u=44d195446168fe230f06a0693&amp;id=398545b8a3" method="post" id="mc-embedded-subscribe-form" name="mc-embedded-subscribe-form" class="validate" target="_blank" role="form">
						<div id="mc_embed_signup_scroll">

							<div class="mc-field-group">
								<input type="email" value="" name="EMAIL" class="subscribe-input" id="mce-EMAIL" placeholder="{{_ "email_enter" }}" required>
								<input type="submit" value="{{_ "subscribe" }}" name="subscribe" id="mc-embedded-subscribe" class="btn btn-lg btn-clear subscribe-submit">
							</div>
							<div style="position: absolute; left: -5000px;">
								<input type="text" name="b_44d195446168fe230f06a0693_398545b8a3" tabindex="-1" value="">
							</div>
							<div class="clear"></div>
						</div>
					</form>



					<!--End mc_embed_signup-->
				</div>
				<!--/col-md-6-->
			</div>
			<!--/row -->




			<div class="row mt">
				<div class="col-md-1 centered">
					<i class="icon ion-ios7-information-outline"></i>
				</div>
				<div class="col-md-3">
					<h5>{{_ "more_info" }}</h5>
					<hr>
					<p>
						<a href="{{pathFor 'about'}}">{{_ "about" }}</a>
						<br/> <a href="{{pathFor 'businesses'}}">{{_ "businesses" }}</a>
						<br/> <a href="{{pathFor 'terms'}}">{{_ "terms" }}</a>
						<br/> <a href="{{pathFor 'privacy'}}">{{_ "privacy" }}</a>
					</p>
				</div>
				<div class="col-md-1 centered">
					<i class="icon ion-ios7-paperplane-outline"></i>
				</div>
				<div class="col-md-3">
					<h5>{{_ "contact_us" }}</h5>
					<hr>
					<p>
						<a href="#"><i class="icon ion-social-twitter"></i></a>
						<a href="#"><i class="icon ion-social-facebook"></i></a>
						<a href="#"><i class="icon ion-social-googleplus"></i></a></p>
					<p>
						<a href="mailto:anything@ngeos.com">anything@ngeos.com</a>
					</p>
					<p>
						<a href="#contactform" id="link-to-contactform" class="smoothScroll">{{_ "contact_form" }}</a>
					</p>
					
				</div>
				<div class="col-md-1 centered">
					<i class="icon ion-ios7-help-outline"></i>
				</div>
				<div class="col-md-3">
					<h5>{{_ "help" }}</h5>
					<hr>
					<p><a href="{{pathFor 'faqs'}}">{{_ "faqs" }}</a>
						<br/><a href="{{pathFor 'forum'}}">{{_ "forum" }}</a>
						<br/><a href="{{pathFor 'support'}}">{{_ "support" }}</a>
					</p>
				</div>
			</div>
		</div>
		<div id="contactform" class="container hide">
			{{> contactForm}}
			</div>
		<!--/container -->
	</div>
	<!--/F -->

	<div id="copyright">
		<div class="container">
			<div class="row">
				<div class="col-md-6 col-md-offset-3 centered">
					<h6>COPYRIGHT 2015 | NGEOS</h6>
				</div>
			</div>
		</div>
	</div>
	<!--/copyright -->


</template>
<template name="contactForm">
<form role="form">
  <div class="form-group">
    <label for="email">{{_ "contact_email"}}</label>
    <input type="email" class="form-control" id="email" required>
  </div>
  <div class="form-group">
    <label for="name">{{_ "contact_name"}}</label>
    <input type="text" class="form-control" id="name" required>
  </div>
  <div class="form-group">
  	<label for="message">{{_ "contact_message"}}</label>
    <textarea class="form-control" rows="5" required></textarea>
  </div>
  <button type="submit" class="btn btn-default">{{_ "contact_submit"}}</button>
</form>
</template>